In [64]:
import pandas as pd
df=pd.read_csv("heart.csv")

In [65]:
df.head(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0

In [66]:
df.shape

(918, 12)

In [67]:
df[df['Cholesterol']>(df['Cholesterol'].mean()+3*df['Cholesterol'].std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [68]:
df1=df[df['Cholesterol']<=(df['Cholesterol'].mean()+3*df['Cholesterol'].std())]
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [69]:
df1.shape

(915, 12)

In [70]:
df[df['RestingBP']>(df['RestingBP'].mean()+3*df['RestingBP'].std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [71]:
df2=df1[df1['RestingBP']<(df['RestingBP'].mean()+3*df['RestingBP'].std())]
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [72]:
df[df['MaxHR']>(df['MaxHR'].mean()+3*df['MaxHR'].std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [73]:
df[df['Oldpeak']>(df['Oldpeak'].mean()+3*df['Oldpeak'].std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [74]:
df3=df2[df2['Oldpeak']<(df2['Oldpeak'].mean()+3*df2['Oldpeak'].std())]
df3

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [75]:
df[df['MaxHR']>(df['MaxHR'].mean()+3*df['MaxHR'].std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [76]:
df['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [77]:
df['ExerciseAngina'].unique()

array(['N', 'Y'], dtype=object)

In [78]:
df['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [79]:
df4=df3.copy()
df4.ExerciseAngina.replace({'N':0,'Y':1},inplace=True)
df4.ST_Slope.replace({'Up':0,'Flat':1,'Down':2},inplace=True)
df4.RestingECG.replace({'Normal':0, 'ST':1, 'LVH':2},inplace=True)
df4

C:\Users\hp\AppData\Local\Temp\ipykernel_12104\3633496536.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4.ExerciseAngina.replace({'N':0,'Y':1},inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_12104\3633496536.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4.ExerciseAngina.replace({'N':0,'Y':1},inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_12104\3633496536.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4.ST_Slope.replace({'Up':0,'Flat':1,'Down':2},inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_12104\3633496536.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4.ST_Slope.replace({'Up':0,'Flat':1,'Down':2},inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_12104\3633496536.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4.RestingECG.replace({'Normal':0, 'ST':1, 'LVH':2},inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_12104\3633496536.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4.RestingECG.replace({'Normal':0, 'ST':1, 'LVH':2},inplace=True)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,0,172,0,0.0,0,0
1,49,F,NAP,160,180,0,0,156,0,1.0,1,1
2,37,M,ATA,130,283,0,1,98,0,0.0,0,0
3,48,F,ASY,138,214,0,0,108,1,1.5,1,1
4,54,M,NAP,150,195,0,0,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,0,132,0,1.2,1,1
914,68,M,ASY,144,193,1,0,141,0,3.4,1,1
915,57,M,ASY,130,131,0,0,115,1,1.2,1,1
916,57,F,ATA,130,236,0,2,174,0,0.0,1,1
917,38,M,NAP,138,175,0,0,173,0,0.0,0,0

In [80]:
df5=pd.get_dummies(df4,drop_first=True).astype(int)
df5

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,0,172,0,0,0,0,1,1,0,0
1,49,160,180,0,0,156,0,1,1,1,0,0,1,0
2,37,130,283,0,1,98,0,0,0,0,1,1,0,0
3,48,138,214,0,0,108,1,1,1,1,0,0,0,0
4,54,150,195,0,0,122,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,0,132,0,1,1,1,1,0,0,1
914,68,144,193,1,0,141,0,3,1,1,1,0,0,0
915,57,130,131,0,0,115,1,1,1,1,1,0,0,0
916,57,130,236,0,2,174,0,0,1,1,0,1,0,0
917,38,138,175,0,0,173,0,0,0,0,1,0,1,0

In [81]:
X=df5.drop('HeartDisease',axis='columns')
y=df5.HeartDisease

In [82]:
from sklearn.preprocessing import StandardScaler

In [83]:
X_scale=StandardScaler().fit_transform(X)
X_scale

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [84]:
from sklearn.model_selection import train_test_split

In [85]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=30)

In [86]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier().fit(X_train,y_train)

In [87]:
model.score(X_test,y_test)

0.850828729281768

In [88]:
X

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,0,172,0,0,0,1,1,0,0
1,49,160,180,0,0,156,0,1,1,0,0,1,0
2,37,130,283,0,1,98,0,0,0,1,1,0,0
3,48,138,214,0,0,108,1,1,1,0,0,0,0
4,54,150,195,0,0,122,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,0,132,0,1,1,1,0,0,1
914,68,144,193,1,0,141,0,3,1,1,0,0,0
915,57,130,131,0,0,115,1,1,1,1,0,0,0
916,57,130,236,0,2,174,0,0,1,0,1,0,0
917,38,138,175,0,0,173,0,0,0,1,0,1,0

In [89]:
from sklearn.decomposition import PCA

In [90]:
X_de=PCA(0.95).fit_transform(X)
X_de

array([[ 93.82478115,  29.39921669],
       [-15.58419376,  14.10832145],
       [ 83.29619046, -38.68934272],
       ...,
       [-67.57323027, -17.61278358],
       [ 40.70470825,  33.38587579],
       [-19.91355882,  37.28925155]])

In [91]:
X_trainpca,X_testPCA,y_train,y_test=train_test_split(X_de,y,test_size=0.2,random_state=30)

In [92]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier().fit(X_trainpca,y_train)

In [93]:
model1.score(X_testPCA,y_test)

0.7182320441988951